@keyframes bounceHorizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.group:hover .group-hover\:animate-bounce-horizontal {
  animation: bounceHorizontal 1s ease-in-out infinite;
}
